/* Global variables */

:root {
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-dark-blue: hsl(229, 23%, 23%);
  --clr-grayish-blue: hsl(227, 10%, 46%);
  --clr-dark-gray: hsl(0, 0%, 59%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 90%);

  --ff-base: "Kumbh Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--ff-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  max-width: 100%;
}

/* Utilities */

.flex-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles */

body {
  color: var(--clr-dark-gray);
  background-color: var(--clr-dark-cyan);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position:
    top -60vh left -30vh,
    bottom -60vh right -30vh;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.profile {
  background-color: var(--clr-white);
  min-width: 326px;
  max-width: 350px;
  height: 374px;
  border-radius: 0.9375em;
  box-shadow: 0 50px 100px -20px var(--clr-dark-blue);
  overflow: hidden;
}

.profile__header {
  position: relative;
  background-image: url("./images/bg-pattern-card.svg");
  height: 140px;
  margin-bottom: 50px;
}

.profile__avatar {
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.profile__title {
  padding-top: 0.85em;
}

.profile__name,
.profile__age {
  font-size: 1.125rem;
}

.profile__name,
.metric__count {
  color: var(--clr-dark-blue);
}

.profile__location {
  padding-top: 0.3em;
  padding-bottom: 2em;
  font-size: 0.875rem;
}

.profile__stats {
  gap: 0;
  padding: 0.975em;
  width: 100%;
  border-top: 1px solid var(--clr-off-white);
}

.profile__stats__metric {
  flex: 1;
}

.metric__count {
  padding-top: 0.125em;
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.metric__name {
  padding-top: 0.1225em;
  font-size: 0.625rem;
  letter-spacing: 1px;
}
